<?xml version="1.0" encoding="utf-8" ?>
<!-- see http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html for conversion patterns -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="trace.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %P{EventID} %c{3} [%P{sessionID}] [%P{ProjectID}] [%P{PageID}]- %m%n" />
      </layout>
      <!-- Mapping seems to be an invalid property for RollingFileAppender type.
    <mapping>
      <level value="DEBUG" />
    </mapping>-->
      <threshold value="DEBUG"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DMPProxyOutage" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>

    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="info.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %P{EventID} %c{3} [%P{sessionID}] [%P{ProjectID}] [%P{PageID}]- %m%n" />
      </layout>
      <!-- Mapping seems to be an invalid property for RollingFileAppender type.
    <mapping>
      <level value="DEBUG" />
    </mapping>-->
      <threshold value="INFO"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DMPProxyOutage" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>

    <!-- This file will just show errors and above -->
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="error.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %P{EventID} %c{3} [%P{sessionID}] [%P{ProjectID}] [%P{PageID}]- %m%n" />
      </layout>
      <threshold value="ERROR"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DMPProxyOutage" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>

    <!-- This file will just show errors and above -->
    <appender name="DmpOutageFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="DmpOutage.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %P{EventID} %c{3} [%P{sessionID}] [%P{ProjectID}] [%P{PageID}]- %m%n" />
      </layout>
      <threshold value="OFF"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DMPProxyOutage" />
        <acceptOnMatch value="true" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

	<!-- Modify the values "Framework5" to match that of the source inserted into the event log using install script -->
 
	<!--<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
		<logName value="Framework5" />
		<applicationName value="Framework5" />
		<layout type="log4net.Layout.PatternLayout">
			<param name="ConversionPattern" value="%P{EventID} %c{3} [%P{sessionID}] [%P{ProjectID}] [%P{PageID}]- %m%n" />
		</layout>
		<mapping>
			<level value="ERROR" />
			<eventLogEntryType value="Error" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<eventLogEntryType value="Warning" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<eventLogEntryType value="Information" />
		</mapping>
		<threshold value="ERROR"/>
    <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="emuse.Raven.PFEnvironment.DMP2_3.DmpProxy" />
        <acceptOnMatch value="false" />
      </filter>    
  </appender>-->



    <root>
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="InfoFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <appender-ref ref="DmpOutageFileAppender" />
      <!--<appender-ref ref="EventLogAppender" />-->
      <!--<appender-ref ref="SmtpAppender" />-->
    </root>

    <!--This logger generates a lot of debug info on each HTTP request so switch off explicitly -->
    <logger name="emuse.PFEnvironment.PFWeb.PFPage.RequestHandler">
      <level value="OFF" />
    </logger>

  </log4net>
</configuration>
