<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-10">
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <input type="text" data-ng-model="exploreNearby" class="form-control" placeholder="Explore Places In. e.g. Dublin" />
                    </div>

                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <input type="text" data-ng-model="exploreQuery" class="form-control" placeholder="Specify Category. e.g. Burger" />
                    </div>
            
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <input type="text" id="exploreDate" type="date"  maxlength="50" class="form-control" data-fs-date-picker="" data-ng-model="user.arrivalDate"  placeholder="When" />           
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <button class="btn btn-primary pull-right" data-ng-click="doSearch()"><span class="glyphicon glyphicon-search"></span>Explore</button>
                    </div>
                </div>                
            </div>
        </div>

        <div class="well well-sm" data-ng-show="totalRecordsCount == 0">
            <h5>No Places found Near by ({{exploreNearby}})</h5>
        </div>
        <toaster-container toaster-options="{'time-out': 1700}"></toaster-container>
        <div data-ng-show="totalRecordsCount > 0">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" data-ng-model="filterValue" class="form-control" placeholder="Filter Places by (Place Name) or (Category)" />
                </div>
            </div>
            <ul class="list-group" data-ng-repeat="item in filteredPlaces">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img data-ng-src="{{buildCategoryIcon(item.venueDetails.response.venue.categories[0].icon)}}"
                                title="{{item.venueDetails.response.venue.categories[0].shortName}}" class="venueIcon" />
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <a href="" data-ng-click="showVenuePhotos(item.venueDetails.response.venue.id,item.venueDetails.response.venue.name)">
                                <h2 class="venueName">{{item.venueDetails.response.venue.name}}</h2>
                            </a>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <span class="badge">{{item.venueDetails.response.venue.rating | number:1}}</span>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <p class="text-warning"><small>{{(item.venueDetails.response.venue.location.address != null) && item.venueDetails.response.venue.location.address}} - {{item.venueDetails.response.venue.categories[0].shortName}}</small></p>
                            <p>{{item.venueDetails.response.venue.timeZone}}</p>
                            <hr class="seperator" />
                            <a href="" data-ng-click="bookmarkPlace(item.venueDetails.response.venue)"><span class="glyphicon glyphicon-bookmark"></span>Bookmark Place</a>
                            <a href="#/attendees" data-ng-click=""><span class="glyphicon glyphicon-bookmark"></span>View Attendees</a>
                        </div>
                        <div class="col-xs-4 col-md-3">
                           <a href="" data-ng-click="showVenuePhotos(item.venueDetails.response.venue.id,item.venueDetails.response.venue.name)">
                                <img data-ng-src="{{buildVenueThumbnail(item.venueDetails.response.venue.photos.groups[0])}}" class="img-thumbnail" /></a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-md-offset-2 text-center">
                <div data-ng-show="totalRecordsCount > 0">
                    <div>
                        <div data-pagination="" data-previous-text="<" data-next-text=">" data-first-text="<<" data-last-text=">>"
                            data-on-select-page="pageChanged(page)" data-total-items="totalRecordsCount" data-page="currentPage"
                            data-boundary-links="true" class="pagination pagination-sm" data-max-size="5" data-rotate="false" data-items-per-page="10">
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </form>
</div>
